<h1>Petition</h1>
<h2>Sign with your full name</h2>
{{#if error}}
<p id="wentWrong">Something went wrong. Try again!</p>
{{/if}}
<form method="POST">
    <p></p><input type="text" placeholder="First Name" name="first" autocomplete="off"></p>
    <p></p><input type="text" placeholder="Last Name" name="last" autocomplete="off"></p>
    <canvas id="canvas" width="300px" height="100px"></canvas>
    <input type="hidden" id="hiddenInput" name="signature">
    <div>sign here</div>
    <button>Submit</button>
</form>