<h1>Please, register in order to support our cause</h1>
{{#if error}}
<p id="wentWrong">Something went wrong. Try again!</p>
{{/if}}
<form method="POST">
    <p><input type="text" placeholder="First Name" name="first" autocomplete="off"></p><br>
    <p><input type="text" placeholder="Last Name" name="last" autocomplete="off"></p><br>
    <p><input type="email" placeholder="Email Address" name="email" autocomplete="off"></p><br>
    <p><input type="text" placeholder="Your Password" name="password" autocomplete="off"></p><br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>REGISTER</button>
</form>
<h5>If you are already a member, please <a href="/login">log in</a>.</h5>