<h1>Register in order to support our cause</h1>
<div id="bottom-login">
<h3>If you are already a member, please <a href="/login">log in</a></h3>
</div>
{{#if error}}
<p id="wentWrong">Something went wrong. Try again!</p>
{{/if}}
<div id="form">
<form method="POST">
    <p><input type="text" placeholder="First Name" name="first" autocomplete="off"></p><br>
    <p><input type="text" placeholder="Last Name" name="last" autocomplete="off"></p><br>
    <p><input type="email" placeholder="Email Address" name="email" autocomplete="off"></p><br>
    <p><input type="text" placeholder="Your Password" name="password" autocomplete="off"></p><br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>REGISTER</button>
</form>
</div>
