<h1>You are not alone!</h1>
{{!-- all first als last names displayed --}}
{{!-- template expects array of objects with first and last name properties --}}
<div>{{#listOfNames}}
    <p>{{.}}</p>
    {{/listOfNames}}
</div>
{{!-- <div>{{first}} {{last}}</div> --}}
{{!-- loop through array and render each one --}}