{{!-- thanks for signing --}}
<h1>Thank you for signing</h1>
{{!-- show total number of signers that you can click on to go to signers page --}}
<h2>See all {{numberOfSignatures}} signers <a href="/signers">here</a>.</h2>