* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: whitesmoke;
}
body {
    font-family: "Courier New", Courier, monospace;
    background-image: url(./succulent.jpg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    align-content: center;
    width: 100%;
    height: 100%;
}
button {
    padding: 5px;
    margin: 20px;
}
/* footer {
    background-color: gray;
    width: 100%;
} */
h1 {
    text-align: center;
    background-color: gray;
    color: whitesmoke;
    padding: 20px;
}
h2 {
    text-align: center;
    margin: 20px;
}
p {
    padding: 20px;
}
#bottom-login {
    padding: 20px;
}
#canvas {
    border: dotted black;
    /* color: red; */
    background-color: whitesmoke;
}
#form {
    padding: 20px;
}
#headerdiv {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
#listOfNames {
    padding: 10px;
    text-align: center;
}
#petitionForm {
    text-align: center;
}
#wentWrong {
    color: red;
    text-align: center;
    margin: 10px;
    animation: blinking 1s infinite;
}
@keyframes blinking {
    0% {
        color: red;
    }
    49% {
        color: red;
    }
    60% {
        color: transparent;
    }
    80% {
        color: transparent;
    }
    100% {
        color: red;
    }
}
#signaturePicture {
    align-self: center;
}
